@import '~boxicons';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

.App {
  display: flex;
  width: calc(100vw - 101px);
}

.cryptocurrency-dashboard {
  background-color: #261E35;
  padding: 30px;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 60px);
  width: calc(100% - 60px);

  &-top {
    width: 100%;
    display: flex;

    &-left, &-right {
      display: flex;

      align-items: center;

      button {
        background: #2F293E;
        border-radius: 50%;
        outline: none;
        align-items: center;
        justify-content: center;
      }
    }

    &-left {
      justify-content: space-between;
      width: 492px;

      button {
        width: 40px;
        height: 40px;
        border: none;
      }

      p {
        color: #FFFFFF;
        font-size: 14px;
        line-height: 17px;
        font-weight: bold;
      }

    }

    &-right {
      justify-content: flex-end;
      width: calc(100% - 492px);

      &-filter-box {
        width: calc(220px - 40px);
        padding: 15px 20px;
        height: calc(47px - 30px);
        position: relative;
        display: flex;
        border-radius: 15px;
        background: #2F293E;

        input {
          width: 100%;
          height: 100%;
          outline: none;
          border: none;
          background-color: transparent;
          color: #E2D8FD;

          &::placeholder {
            color: #E2D8FD;
          }
        }

        img {
          position: absolute;
          top: 15px;
          right: 20px;
        }
      }

      &-buttons {
        display: flex;
        margin-left: 50px;

        button {
          width: 47px;
          height: 47px;
          border: 1px solid rgba(217, 203, 255, 0.4);
          background: #2B2638;
          margin-right: 12px;
          position: relative;

          &:before {
            content: '';
            position: absolute;
            background: #E9001C;
            border-radius: 50%;
            width: 6px;
            height: 6px;
            left: 35px;
            top: 2px;
          }
        }
      }
    }

  }

  &-main {
    width: 100%;
    display: flex;
    flex-direction: column;

    &-coin-tiles-box {
      width: 100%;
      display: flex;
      overflow-x: auto;
      padding-top: 25px;
    }
  }

  &-tile {
    background: #3C354A;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    padding: 16px 15px;
    display: flex;
    flex-direction: column;
  }
}

.cryptocurrency-dashboard-coin-tile {
  min-width: calc(240px - 30px);
  min-height: calc(155px - 50px - 16px);
  padding-top: 50px;
  position: relative;
  margin-right: 20px;

  &-coin-icon {
    left: 95px;
    top: -25px;
    position: absolute;
  }

  &-top {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    &-currency {
      display: flex;
      align-items: center;

      p {
        color: #868B93;
        font-size: 14px;
        font-weight: 600;
      }

      img {
        margin: 0 12px;
      }
    }

    &-difference-box {
      display: flex;
      align-items: center;

      p {
        font-size: 14px;
        margin-left: 5px;
        font-weight: 600;
      }
    }
  }

  h5 {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    margin-top: 12px;
  }
}


.cryptocurrency-dashboard-menu {
  background-color: #261E35;
  height: calc(100vh - 60px);
  width: calc(100px - 60px);
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: inset -1.5px 0px 0px rgba(255, 255, 255, 0.15);
  border-right: 1px solid #474053;
  position: relative;

  &-buttons {
    margin-top: 77px;
  }

  button, .btn--active {
    padding: 18px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    outline: none;
    border: none;
    border-radius: 13px;
    cursor: pointer;
    transition: .5s all;

    &:hover {
      background: #372C44;


    }

  }

  .btn--active {
    background: #372C44;
  }

  .bottom-btn {
    position: absolute;
    bottom: 12px;
  }
}

.cryptocurrency-dashboard-market-trend-tile {
  width: 370px;
  height: 265px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;

  h4 {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
  }

  &-currencies-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .cryptocurrency-name-box, .cryptocurrency-price-box, .cryptocurrency-24change-box {
    display: flex;
    flex-direction: column;
    width: fit-content;


    label {
      font-size: 10px;
      line-height: 12px;
      color: #BFB7B7;
      margin: 12px 0;
    }

    p {
      font-size: 11.725px;
      line-height: 17px;
    }
  }

  .cryptocurrency-name-box {
    .cryptocurrency-name {
      display: flex;
      margin-bottom: 12px;

      &:last-child {
        margin-bottom: 0;
      }

      p {
        &:first-of-type {
          color: #FFFFFF;
          margin-right: 5.025px;
        }

        &:last-of-type {
          color: #9A9A9A;
        }
      }
    }
  }

  .cryptocurrency-price-box {
    p {
      color: #9292C1;
      margin-bottom: 12px;

      &:last-child {
        margin-bottom: 0;
      }

    }
  }

  .cryptocurrency-24change-box {
    .cryptocurrency-24change {
      display: flex;
      margin-bottom: 12px;
      justify-content: space-between;

      &:last-child {
        margin-bottom: 0;
      }

      p {
        color: #FFFFFF;
      }
    }
  }
}